.item{
    display: none;

}
.active{
    display: block;
    animation:  fade 1.5s;

}

.arrow-container {
    width: 100%;
    /* margin: auto; */
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 40%;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}